.MobileNav{
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 5;
}

.MobileNav div.content{
  padding: 0;
  margin: 0 1rem;
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-between;
}

.MobileNav img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.MobileNav button{
  width: 50px;
  height: 50px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: center;
}
.MobileNav p{
  margin: 1rem 2rem;
}

@media screen and (min-width: 701px){
  .MobileNav{
    visibility: collapse;
  }
}

/* @media screen and (max-width: 700px){
  footer .deets{
    font-size: smaller;
  }
} */