a {
  text-decoration: none;

  article.root.BlogCard {
    background-color: var(--blue-light-80);
    margin: 1rem;
    padding: 1.5rem 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;


    div.container {
      gap: 1rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      &.image-left {
        flex-direction: row;
      }
    }
  }
}