article.root.job-card {
  background-color: white;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem 4rem;
  min-height: 200px;
  box-shadow: 0 0 1rem var(--accent-color2-50);

  div.details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    /* align-items: center; */

    div.basics {
      width: 50%;

      span {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    img {
      object-fit: contain;
    }
  }

  div.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 4px 0;
  }

  div.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0;
  }

  a {
    margin-right: 3rem;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }
}

/* @media screen and (max-width: 1200px) {
  .root.job-card {
    padding: 8px;
    width: 480px;

    p.description {
      max-height: 3rem;
    }

    div.tags {
      scrollbar-width: 4px;
    }
  }
} */