.root.job-card {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  ;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 12px;
  margin: 8px;
  /* width: 250px; */
  width: 200px;
  min-height: 200px;
  border: 2px solid white;

  div.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 4px 0;
  }

  a {
    padding-top: 4px;

    &:hover {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1200px) {
  .root.job-card {
    padding: 8px;
    width: 480px;
    max-height: 500px;

    p.description {
      max-width: 470px;
      max-height: 3rem;
      overflow-y: scroll;
      text-overflow: ellipsis;
    }

    div.tags {
      max-height: 64px;
      scrollbar-width: 4px;
      overflow-y: scroll;
    }
  }
}