.root.job-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  align-items: start;
  padding: 12px;
  margin: 8px;
  width: 300px;
  min-height: 200px;
  border: 2px solid white;

  div.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 4px 0;
  }

  a{
    padding-top: 4px;

    &:hover{
      font-weight: bold;
    }
  }

  /* &:hover {
    background-color: rgba(211, 211, 211, 0.3);
    box-shadow: 4px 4px 8px rgba(211, 211, 211, 0.8);
  } */
}
