#Footer{
  width: 100%;
  margin-top: 1em;
  padding: 1rem;
  display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  align-items: center;

  .content{
    width: 50%;
    /* border: 1px solid red; */
    height: 64px;

    div{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

      a {
      text-decoration: none;

        &:hover{
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--br-teal)
        }

        & > span{
          &:hover{
        font-size: 1.08rem;
        font-weight: 600;
        color: var(--br-teal)
      }
        }
      }
    }
  }
}