.jobs {
  width: 100%;
  margin: 2rem 0;

  .content {
    width: 100%;

    .job-cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}


@media screen and (max-width: 1200px) {
  .jobs {
    max-height: none;
    overflow: visible;

    /* .content {
      .job-cards {
        flex-direction: column;
        align-content: center;
      }
    } */
  }
}