.jobs{
    background-color: rgba(211, 211, 211, 0.3);
    margin-left: 0;
    margin-right: 0;

    .job-cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }