.jobs{
    background-image: url('./../../../public/cuttingboard.jpg');

    .job-cards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }