:root {

  /* Pure White */
  --bg-color: #FFFFFF;

  /* Deep Navy Blue */
  --primary-color: rgba(0, 51, 102, 1);
  --primary-color-10: rgba(0, 51, 102, .1);
  /* --primary-color: #003366; */
  --primary-color2: rgba(0, 102, 204, 1);
  --primary-color1-10: rgba(0, 102, 204, .1);
  /* --primary-color2: #0066CC; */

  /* Strong Orange */
  --accent-color: rgba(255, 101, 0, 1);
  --accent-color-10: rgba(255, 101, 0, .1);
  --accent-color-60: rgba(255, 101, 0, .6);
  /* --accent-color: #FF6500; */
  --accent-color2: rgba(255, 85, 0, 1);
  --accent-color2-10: rgba(255, 85, 0, .1);
  /* --accent-color2: #FF5500; */

  /* Dark Charcoal */
  --black: rgba(26, 26, 26, 1);
  --black40: rgba(26, 26, 26, .4);
  --black70: rgba(26, 26, 26, .75);
  --black95: rgba(26, 26, 26, .95);

  --border-color: #DDDDDD;

  /* old below */
  --lt-teal: rgb(151, 166, 173);
  /* --br-teal: #00b4d4; */
  --drk-frosted: rgba(0, 0, 0, 0.55);
  --lt-frosted20: rgba(255, 255, 255, 0.20);
  --lt-frosted50: rgba(255, 255, 255, 0.5);
  --lt-frosted: rgba(255, 255, 255, 0.8);

  /*
  Doesn't seem to work: use as documentation
  --mobile-width-max: 900px;
  */

  --fade-time: 1s;
  --slide-time: 1.3s;
  --slide-delay-time: .5s;
  --transition-default: all 0.3s ease-in-out;
  --nav-z-index: 200;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color2);
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-display: swap;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: var(--accent-color2);
}

a {
  color: var(--accent-color2);
  text-align: justify;
  font-size: 1rem;

  /* &:visited {
    color: var(--orange);
  } */

  &:active {
    color: var(--primary-color2)
  }

  &:hover {
    font-size: 101%;
    transition: all 0.3s ease-in-out;
  }
}

p, li, ul {
  list-style-type: none;
  margin: .6em 0;
  text-align: left;
}

h1, h2, h3 {
  /* text-shadow: .5px .5px black; */
  text-align: center;
}

button, .button {
  background-color: var(--accent-color2);
  margin: 2rem 1rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 16px;
}

button {
  padding: 0;
  font-size: large;
  font-weight: bolder;
}

button:hover, .button:hover {
  color: var(--primary-color);
  opacity: 0.8;
  font-size: 101%;
  transition: all 0.3s ease-in-out;
}

button:visited, .button:visited {
  color: white;
  transition: all 0.3s ease-in-out;
}

button:active, .button:active {
  background-color: var(--lt-teal);
  color: var(--accent-color2);
  transition: all 0.3s ease-in-out;
}

img {
  background-color: transparent;
}