:root {
  --brown-dark: rgb(134,102,89);
  --lt-blue: #dde8e946;
  --blue: rgb(106,137,146); /* 00779c for brighter */
  --br-blue: '#00779C';
  --brown: rgb(186,171,151);
  --orange: rgb(173,104,62); /* 188,100,49 or #eb5802 for brighter */
  --orange-frost: rgba(173,104,62, 0.3); /* 188,100,49 or #eb5802 for brighter */
  --br-orange: #eb5802;
  --teal: rgb(53,101,111); /* 63,119,129 of 00b4d4 for brighter*/
  --lt-teal: rgb(151,166,173);
  --br-teal: #00b4d4;
  --white: rgb(220,214,207);
  --frosted: rgba(255,255,255, 0.55);
  --drk-frosted: rgba(0,0,0, 0.55);
  --lt-frosted: rgba(255,255,255, 0.20);
  --br-orange09: #EB580219;

  /*
  Doesn't seem to work: use as documentation
  --mobile-width-max: 900px;
  */

  --fade-time: 1s;
  --slide-time: 1.3s;
  --slide-delay-time: .5s;

}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background-color: black;
  color: var(--br-teal);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  font-display: swap;
}

code {
    font-family: 'Source Code Pro', monospace;
    color: var(--br-orange);
}

a {
  color: var(--br-orange);
  text-align: justify;
  font-size: 1rem;

  &:visited {
    color: var(--orange);
  }

  &:active {
    color: var(--br-teal)
  }

  &:hover{
    font-weight: 800;
    font-size: 1.03rem;
  }
}

p, li, ul{
  list-style-type: none;
  margin: .6em 0;
  text-align: left;
}

h1,h2,h3{
  text-shadow: .5px .5px black;
  text-align: center;
}

button, .button{
  background-color: var(--br-orange);
  margin: 2rem 1rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-radius: 16px;
}

button{
  padding: 0;
  font-size: large;
  font-weight: bolder;
}

button:hover, .button:hover{
  color: var(--teal);
  opacity: 0.8;
  box-shadow: 2px 4px var(--br-teal);
}

button:visited, .button:visited{
  color: white;
}

button:active, .button:active{
  background-color: var(--lt-teal);
  color: var(--br-orange);
}

img{
  background-color: transparent;
}
