#Home {
  display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.home.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  justify-content: center;
  background-image: url("./../public/board_mortar.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; /* Center the image */
  animation: changeBg 30s infinite;

.headline {
  border-radius: 8px;
  text-align: left;
  z-index: 1;
  background-color: var(--drk-frosted);
  padding: 0 12px;
}
}

.teaser{
  border-radius: 8px;
  box-shadow: 0px 1px 24px var(--orange);
  padding: 16px;
  background-color: var(--lt-frosted);
  margin: 36px;
}

  @media screen and (max-width: --mobile-width-max){
  }

  @media screen and (max-width: --mobile-width-min){
    #Home .headline{
      bottom: 30%;
      left: 0;
      text-align: center;
      animation: none;
      -webkit-animation: blur 2s;
    }
    #Home h1{
      font-size: 1.5rem;
    }

  }

  @keyframes changeBg{
   0%  {background-image: url("./../public/board_mortar.jpg");}
   20% {background-image: url("./../public/code1.jpg");}
   /* 33% {background-image: url("./../public/table_share.jpg");} */
   40% {background-image: url("./../public/table_share.jpg");}
   60% {background-image: url("./../public/code2.jpg");}
   80% {background-image: url("./../public/bar_seating.jpg");}
   100% {background-image: url("./../public/code3.jpg");}
}