#Home {
  display: flex;
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.home.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-size: cover;
  animation: changeBg 30s infinite;

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    text-align: left;
    z-index: 1;
    height: 100%;
    background-color: var(--black95);
    padding: 0 12px;
  }
}

.teaser {
  border-radius: 16px;
  box-shadow: 0px 0px 4px var(--accent-color);
  padding: 16px;
  background-color: var(--lt-frosted);
  margin: 36px;
}

@media screen and (max-width: --mobile-width-min) {
  #Home .headline {
    bottom: 30%;
    left: 0;
    text-align: center;
    animation: none;
    -webkit-animation: blur 2s;
  }

  #Home h1 {
    font-size: 1.5rem;
  }

}

@keyframes changeBg {

  0% {
    background-image: url("./../public/code1.jpg");
  }

  50% {
    background-image: url("./../public/code2.jpg");
  }

  100% {
    background-image: url("./../public/code3.jpg");
  }
}