.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem; */
  min-height: 100vh;
  text-align: center;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}