.Card{
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgray;
  background-color: white;
  padding: 1rem;
  width: 25%;
  margin: .5rem;
  border-radius: 6px;
  justify-content: space-between;

  & h3{
    margin-top: 0;
  }

  & p{
    font-size: small;
    margin: .5rem;
  }

  & .top img {
  max-width: 100%;
  max-height: 225px;
  /* border: solid 1px var(--br-orange); */
  border-radius: 12px;
  object-fit: contain;
  }

  & .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    & div {
  display: flex;
  justify-content: space-around;
  }

    & .techs{
      text-align: center;
    }

    & .indent{
      text-indent: 1rem;
    }
}

}



@media screen and (max-width: calc(--mobile-width-max - 100)){
  .Card{
    width: 45%;
  }
}
@media screen and (max-width: calc(--mobile-width-max - 200)){
  .Card{
    width: 100%;
  }
}